.form {
    flex: 1;
    margin-bottom: 2rem;
}

.form__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.2rem;
}

.form__field-title {
    margin-bottom: .5rem;
    font-size: 1.1rem;
    font-weight: 800;
}

.form__field-description {
    margin-bottom: .5rem;
    font-weight: 200;
}

.form__field-error {
    margin-top: .5rem;
    color: #f00;
    font-weight: 400;
}

.form__radio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.form__submit {
    display: flex;
    justify-content: center;
}

.form__end {
    display: flex;
    justify-content: center;
}

.form__submit-button:disabled {
    background: #888;
    cursor: not-allowed;
}

@media(min-width: 600px) {
    .form__submit {
        justify-content: flex-end;

    }

    .form {
        margin-bottom: 50px;
    }
}
