<div class="page__content">
    <h2>{{stepNumber}} - Catégories</h2>
    <p>
        Parfait. C'est presque terminé !
    </p>
    <p>
        Maintenant que Robert vous connaît, créons quelques <strong>catégories
        principales de matériel</strong>. Ces catégories devraient refléter les
        différentes choses que vous louerez en utilisant Robert. Par exemple, si
        vous êtes une société de location de matériel de sonorisation, vous pouvez
        créer les catégories <em>"mixage"</em>, <em>"enceintes"</em>, <em>"micros"</em>,
        <em>"effets"</em>, etc.
    </p>
    <p>
        Pas la peine d'être trop spécifique, car une fois l'installation terminée,
        il sera possible d'associer des <em>sous-catégories</em> aux catégories créées ici.
    </p>
    <p>
        Bien sûr, ces catégories pourront toujours être <strong>modifiées plus tard</strong>.
    </p>
    <form method="POST" class="form">
        <div class="form__field">
            <p class="form__field-description">
                Écrire une liste de catégories, séparées par des virgules (,).
            </p>
            <input
                type="text"
                name="categories"
                id="categories"
                class="form__input-categories"
                value="{{stepData['categories']}}"
                onKeyUp="onInputKeyUp()"
                autocomplete="off"
                autofocus
            />
            {% if validationErrors %}
            <div class="form__field-error">
                <pre>{{validationErrors}}</pre>
            </div>
            {% endif %}
        </div>
        <div class="form__field-description">
            <span class="categs-count">2</span> catégories seront créées.
        </div>
        <div class="form__submit">
            <button role="submit" class="form__submit-button">Terminé !</button>
        </div>
    </form>
</div>

<script src="js/install/categories.js"></script>
