<section class="page__content">
    <h2>{{stepNumber}} - Paramètres du coeur de Robert2</h2>
    <p>
        Dans cette étape, nous allons créer votre propre fichier de paramètrage pour
        <strong>configurer l'application Robert2</strong>. Merci de bien vérifier tous
        les points du formulaire, et de les modifier en fonction de vos besoins. Pour vous
        aider, lisez simplement la description de chaque champ. Si vous ne comprenez
        pas de quoi il s'agit, vous pouvez laisser la valeur par défaut.
    </p>
    <form method="POST" class="form">
        <section class="form__field">
            <h3 class="form__field-title">URL de l'API</h3>
            <p class="form__field-description">
                C'est l'adresse de base de Robert, que vous utiliserez tous les jours.
                Ce n'est pas la peine d'ajouter <code>/api</code> à la fin.
            </p>
            <input
                type="text"
                name="apiUrl"
                size="10"
                value="{{config['apiUrl']}}"
            />
        </section>
        <section class="form__field">
            <h3 class="form__field-title">Nom de l'application</h3>
            <p class="form__field-description">
                En général, c'est... eh bien... "Robert2".
            </p>
            <input
                type="text"
                name="basename"
                value="{{config['basename']}}"
            />
        </section>
        <section class="form__field">
            <h3 class="form__field-title">
                Activer CORS (Cross Origin Resource Sharing)
            </h3>
            <p class="form__field-description">
                Si activé, il sera possible d'utiliser l'API depuis un autre nom de domaine
                (moins sécurisé, mais peut être utile dans certains cas).
            </p>
            <div class="form__radio">
                <input
                    type="radio"
                    id="enableCorsYes"
                    name="enableCORS"
                    value="1"
                    {% if config['enableCORS'] %} checked="checked" {% endif %}
                />
                <label for="enableCorsYes">Oui</label>
                <input
                    type="radio"
                    id="enableCorsNo"
                    name="enableCORS"
                    value="0"
                    {% if not config['enableCORS'] %} checked {% endif %}
                />
                <label for="enableCorsNo">Non</label>
            </div>
        </section>
        <section class="form__field">
            <h3 class="form__field-title">
                Erreurs détaillées
            </h3>
            <p class="form__field-description">
                Afficher ou pas le détail des erreurs dans les réponses.
            </p>
            <div class="form__radio">
                <input
                    type="radio"
                    id="displayErrorsYes"
                    name="displayErrorDetails"
                    value="1"
                    {% if config['displayErrorDetails'] %} checked="checked" {% endif %}
                />
                <label for="displayErrorsYes">Oui</label>
                <input
                    type="radio"
                    id="displayErrorsNo"
                    name="displayErrorDetails"
                    value="0"
                    {% if not config['displayErrorDetails'] %} checked {% endif %}
                />
                <label for="displayErrorsNo">Non</label>
            </div>
        </section>
        <section class="form__field">
            <h3 class="form__field-title">Cache du Routing</h3>
            <p class="form__field-description">
                Utiliser ou pas le cache des routes d'API.
            </p>
            <div class="form__radio">
                <input
                    type="radio"
                    id="useRouterCacheYes"
                    name="useRouterCache"
                    value="1"
                    {% if config['useRouterCache'] %} checked="checked" {% endif %}
                />
                <label for="useRouterCacheYes">Oui</label>
                <input
                    type="radio"
                    id="useRouterCacheNo"
                    name="useRouterCache"
                    value="0"
                    {% if not config['useRouterCache'] %} checked {% endif %}
                />
                <label for="useRouterCacheNo">Non</label>
            </div>
        </section>
        <section class="form__field">
            <h3 class="form__field-title">
                Utiliser HTTPS
            </h3>
            <p class="form__field-description">
                Utiliser ou pas le protocole HTTPS.
            </p>
            <div class="form__radio">
                <input
                    type="radio"
                    id="useHttpsYes"
                    name="useHTTPS"
                    value="1"
                    {% if config['useHTTPS'] %} checked="checked" {% endif %}
                />
                <label for="useHttpsYes">Oui</label>
                <input
                    type="radio"
                    id="useHttpsNo"
                    name="useHTTPS"
                    value="0"
                    {% if not config['useHTTPS'] %} checked {% endif %}
                />
                <label for="useHttpsNo">Non</label>
            </div>
        </section>
        <section class="form__field">
            <h3 class="form__field-title">
                Nombre d'éléments par page
            </h3>
            <p class="form__field-description">
                Le nombre maximum d'éléments qu'il faudra renvoyer par page dans les listings.
            </p>
            <div class="form__input">
                <input
                    type="number"
                    step="1"
                    name="maxItemsPerPage"
                    value="{{config['maxItemsPerPage']}}"
                />
                <label for="maxItemsPerPage">éléments</label>
            </div>
        </section>
        <section class="form__field">
            <h3 class="form__field-title">
                Phrase secrète du jeton d'authentification (JWT)
            </h3>
            <p class="form__field-description">
                Une phrase secrète qui permet de renforcer la sécurité. Le code ci-dessous a été généré
                automatiquement de façon aléatoire. Mais vous pouvez écrire le vôtre, alors soyez inventif !
                Évitez juste les espaces.
            </p>
            <input
                type="text"
                name="JWTSecret"
                value="{{stepData['JWTSecret']}}"
            />
        </section>
        <section class="form__field">
            <h3 class="form__field-title">
                Nom du header HTTP AUTH
            </h3>
            <p class="form__field-description">
                Il s'agit du nom du <em>header</em> de requête HTTP qui portera le jeton d'API permettant
                l'authentification de l'utilisateur. Dans la plupart des cas, cela devrait être
                <code>"Authorization"</code>.
            </p>
            <input
                type="text"
                name="httpAuthHeader"
                value="{{config['httpAuthHeader']}}"
            />
        </section>
        <section class="form__submit">
            <button role="submit">Étape suivante</button>
        </section>
    </form>
</div>
