<div class="page__content">
    <h2>{{stepNumber}} - Structure de la base de données</h2>
    <p>
        Impeccable ! Robert peut maintenant se connecter à sa base de données. De plus,
        la configuration a été créée sur le serveur, dans le fichier
        <code>App/Config/settings.json</code>.<br />Bien joué !
    </p>
    <p>
        OK, maintenant, il est temps de <strong>créer la structure</strong> de la
        base de données. Vous n'avez rien de spécial à faire, à part cliquer sur le
        bouton "Étape suivante" ci-dessous. L'assistant créera la structure pour vous.
    </p>
    {% if stepData['canProcess'] %}
    <span>
        Pour information, voici le statut actuel des migrations de la base de données :
    </span>
    <ul>
        {% for line in stepData['migrationStatus'] %}
        <li>
            <strong>{{line['table']}}</strong> :
            <span
                {% if line['state'] == 'up' %}
                    class="install__check-success"
                {% else %}
                    class="install__check-info"
                {% endif %}
            >
                {{line['state']|capitalize}}
            </span>
        </li>
        {% endfor %}
    </ul>
    <div>
        (<span class="install__check-info">Down</span> = migration à faire,
        <span class="install__check-success">Up</span> = migration déjà en place)
    </div>
    <form method="POST" class="form">
        <div class="form__submit">
            <button role="submit">Étape suivante</button>
        </div>
    </form>
    {% else %}
    <p class="install__check-error">
        Une erreur est survenue pendant la récupération du statut des migrations
        de la base de données. Détail de l'erreur (exit code {{stepData['code']}}) :
    </p>
    <pre class="install__check-error">
        {{stepData['error']}}
    </pre>
    {% endif %}
</div>
