<div class="page__content">
    <h2>{{stepNumber}} - Categories</h2>
    <p>
        Perfect. Almost done!
    </p>
    <p>
        Now that Robert knows you, let's give it some <strong>main materials categories</strong>.
        These categories should reflect the different kind of things you'll manage
        into Robert. For example, if you're a sound equipment rental company, you
        could create the categories <em>"mixers"</em>, <em>"speakers"</em>,
        <em>"microphones"</em>, <em>"processors"</em>, etc.
    </p>
    <p>
        No need to be over specific here, because once the installation done, you'll be able
        to create <em>sub-categories</em> in categories created here.
    </p>
    <p>
        Of course, these categories may still be <strong>modified later</strong>.
    </p>
    <form method="POST" class="form">
        <div class="form__field">
            <p class="form__field-description">
                Write a list of categories, separated by commas (,).
            </p>
            <input
                type="text"
                name="categories"
                id="categories"
                class="form__input-categories"
                value="{{stepData['categories']}}"
                onKeyUp="onInputKeyUp()"
                autocomplete="off"
                autofocus
            />
            {% if validationErrors %}
            <div class="form__field-error">
                <pre>{{validationErrors}}</pre>
            </div>
            {% endif %}
        </div>
        <div class="form__field-description">
            <span class="categs-count">2</span> categories will be created.
        </div>
        <div class="form__submit">
            <button role="submit" class="form__submit-button">Done !</button>
        </div>
    </form>
</div>

<script src="js/install/categories.js"></script>
