<div class="page__content">
    <h2>{{stepNumber}} - Robert2 core settings</h2>
    <p>
        In this step, we'll create your own settings files for <strong>Robert2
        application configuration</strong>. Please pay attention to all settings
        of the form, and overwrite them to suit your needs. If you need help, just
        read the setting's description. If you don't understand a setting, you can
        leave the default value as it is.
    </p>
    <form method="POST" class="form">
        <section class="form__field">
            <h3 class="form__field-title">API URL</h3>
            <p class="form__field-description">
                This is the base URL of Robert, that you'll use everyday. No need to
                specify <code>/api</code> at the end.
            </p>
            <input
                type="text"
                name="apiUrl"
                size="10"
                value="{{config['apiUrl']}}"
            />
        </section>
        <section class="form__field">
            <h3 class="form__field-title">Application name</h3>
            <p class="form__field-description">
                The name of the application. Actually, known as... well, "Robert2".
            </p>
            <input
                type="text"
                name="basename"
                value="{{config['basename']}}"
            />
        </section>
        <section class="form__field">
            <h3 class="form__field-title">
                Enable CORS (Cross Origin Resource Sharing)
            </h3>
            <p class="form__field-description">
                If enabled, it will be possible to use the API from another domain name
                (less secure, but can be useful in certain cases).
            </p>
            <div class="form__radio">
                <input
                    type="radio"
                    id="enableCorsYes"
                    name="enableCORS"
                    value="1"
                    {% if config['enableCORS'] %} checked="checked" {% endif %}
                />
                <label for="enableCorsYes">Yes</label>
                <input
                    type="radio"
                    id="enableCorsNo"
                    name="enableCORS"
                    value="0"
                    {% if not config['enableCORS'] %} checked {% endif %}
                />
                <label for="enableCorsNo">No</label>
            </div>
        </section>
        <section class="form__field">
            <h3 class="form__field-title">
                Display errors details
            </h3>
            <p class="form__field-description">
                Wether to display errors in details or not.
            </p>
            <div class="form__radio">
                <input
                    type="radio"
                    id="displayErrorsYes"
                    name="displayErrorDetails"
                    value="1"
                    {% if config['displayErrorDetails'] %} checked="checked" {% endif %}
                />
                <label for="displayErrorsYes">Yes</label>
                <input
                    type="radio"
                    id="displayErrorsNo"
                    name="displayErrorDetails"
                    value="0"
                    {% if not config['displayErrorDetails'] %} checked {% endif %}
                />
                <label for="displayErrorsNo">No</label>
            </div>
        </section>
        <section class="form__field">
            <h3 class="form__field-title">Routing cache</h3>
            <p class="form__field-description">
                Wether to use routing cache system or not.
            </p>
            <div class="form__radio">
                <input
                    type="radio"
                    id="useRouterCacheYes"
                    name="useRouterCache"
                    value="1"
                    {% if config['useRouterCache'] %} checked="checked" {% endif %}
                />
                <label for="useRouterCacheYes">Yes</label>
                <input
                    type="radio"
                    id="useRouterCacheNo"
                    name="useRouterCache"
                    value="0"
                    {% if not config['useRouterCache'] %} checked {% endif %}
                />
                <label for="useRouterCacheNo">No</label>
            </div>
        </section>
        <section class="form__field">
            <h3 class="form__field-title">
                Use HTTPS
            </h3>
            <p class="form__field-description">
                Wether to use HTTPS protocol or not.
            </p>
            <div class="form__radio">
                <input
                    type="radio"
                    id="useHttpsYes"
                    name="useHTTPS"
                    value="1"
                    {% if config['useHTTPS'] %} checked="checked" {% endif %}
                />
                <label for="useHttpsYes">Yes</label>
                <input
                    type="radio"
                    id="useHttpsNo"
                    name="useHTTPS"
                    value="0"
                    {% if not config['useHTTPS'] %} checked {% endif %}
                />
                <label for="useHttpsNo">No</label>
            </div>
        </section>
        <section class="form__field">
            <h3 class="form__field-title">
                Max items per page
            </h3>
            <p class="form__field-description">
                The maximum number of items Robert should display per page in listings.
            </p>
            <div class="form__input">
                <input
                    type="number"
                    step="1"
                    name="maxItemsPerPage"
                    value="{{config['maxItemsPerPage']}}"
                />
                <label for="maxItemsPerPage">items</label>
            </div>
        </section>
        <section class="form__field">
            <h3 class="form__field-title">
                JWT Secret
            </h3>
            <p class="form__field-description">
                This is a passphrase to enforce security. The value below is generated
                randomly. But you can write your own phrase, so be inventive! Just avoid
                spaces.
            </p>
            <input
                type="text"
                name="JWTSecret"
                value="{{stepData['JWTSecret']}}"
            />
        </section>
        <section class="form__field">
            <h3 class="form__field-title">
                HTTP AUTH Header name
            </h3>
            <p class="form__field-description">
                This is the name of the HTTP Header that will be used to send your API access token
                within every requests. In most case, it should be <code>Authorization</code>.
            </p>
            <input
                type="text"
                name="httpAuthHeader"
                value="{{config['httpAuthHeader']}}"
            />
        </section>
        <section class="form__submit">
            <button role="submit">Next step</button>
        </section>
    </form>
</div>
