<div class="page__content">
    <h2>{{stepNumber}} - Database structure</h2>
    <p>
        Congratulations! Robert is now able to access its database. Plus, the base
        settings file has been saved on the server, into <code>App/Config/settings.json</code>.
        Well done!
    </p>
    <p>
        All right, now, let's <strong>set the structure</strong> of the database.
        You have nothing special to do, except click on "Next step" button below.
        The wizard will create the structure for you.
    </p>
    {% if stepData['canProcess'] %}
    <span>
        Here is the status of your database migrations:
    </span>
    <ul>
        {% for line in stepData['migrationStatus'] %}
        <li>
            <strong>{{line['table']}}</strong> :
            <span
                {% if line['state'] == 'up' %}
                    class="install__check-success"
                {% else %}
                    class="install__check-info"
                {% endif %}
            >
                {{line['state']|capitalize}}
            </span>
        </li>
        {% endfor %}
    </ul>
    <form method="POST" class="form">
        <div class="form__submit">
            <button role="submit">Next step</button>
        </div>
    </form>
    {% else %}
    <p class="install__check-error">
        An error occurred while getting status of your database migrations. Detailed error (exit code {{stepData['code']}}):
    </p>
    <pre class="install__check-error">
        {{stepData['error']}}
    </pre>
    {% endif %}
</div>
