<section class="page__content">
    <h2>{{stepNumber}} - Paramètres de l'application</h2>
    <p>
        In this step we'll define some important parameters for your personnal use of Robert.
    </p>
    <form method="POST" class="form">
        <section class="form__field">
            <h3 class="form__field-title">
                Sessions duration
            </h3>
            <p class="form__field-description">
                Expiration time of a session: number of hours a session can last on Robert, before
                the user must re-log into the application.
            </p>
            <div class="form__input">
                <input
                    type="number"
                    step="1"
                    name="sessionExpireHours"
                    value="{{config['sessionExpireHours']}}"
                />
                <label for="sessionExpireHours">hours</label>
            </div>
        </section>
        <section class="form__field">
            <h3 class="form__field-title">Default language</h3>
            <p class="form__field-description">
                The language that Robert will use by default for new users.
            </p>
            <select name="defaultLang" style="width: 150px;">
                <option value="en" selected>English</option>
                <option value="fr">Français</option>
            </select>
        </section>
        <section class="form__field">
            <h3 class="form__field-title">Devise</h3>
            <p class="form__field-description">
                La devise qui sera utilisée pour l'affichage des prix dans l'application.
            </p>
            <select class="currency-selector" name="currency" style="width: 300px;">
                {% for currency in stepData['currencies'] %}
                <option value="{{currency['iso']}}" {% if currency['iso'] == 'EUR' %}selected{% endif %}>
                    {{currency['name']}} ({{currency['symbol']}})
                </option>
                {% endfor %}
            </select>
        </section>
        <section class="form__field">
            <h3 class="form__field-title">Default tags</h3>
            <p class="form__field-description">
                Tags names to be used as identifier for people type.
            </p>
            <div class="form__input">
                <label for="defaultTagBenef" style="width: 120px;">Beneficiaries:</label>
                <input
                    type="text"
                    name="defaultTags.beneficiary"
                    id="defaultTagBenef"
                    value="{{config['defaultTags']['beneficiary']}}"
                />
            </div>
            <div class="form__input" style="margin-top: .5rem;">
                <label for="defaultTagTech" style="width: 120px;">Technicians:</label>
                <input
                    type="text"
                    name="defaultTags.technician"
                    id="defaultTagTech"
                    value="{{config['defaultTags']['technician']}}"
                />
            </div>
        </section>
        <section class="form__field">
            <h3 class="form__field-title">Materials park</h3>
            <p class="form__field-description">
                The name of the <em>main</em> materials park which will be created. Of course
                it will be possible to create others once the application is installed.
            </p>
            <input
                type="text"
                name="defaultParkName"
                placeholder="default"
                value="Internal"
            />
        </section>
        <section class="form__field">
            <h3 class="form__field-title">
                Degressive rate
            </h3>
            <p class="form__field-description">
                This is the function expression that will be used to calculate the
                degressive rate of the rental price according to number of days.
                The variable <code>daysCount</code> represents the number of days.
            </p>
            <input
                type="text"
                name="degressiveRateFunction"
                value="{{config['degressiveRateFunction']}}"
            />
        </section>
        <section class="form__submit">
            <button role="submit">Next step</button>
        </section>
    </form>
</section>
